{layout name="layout"}

        
            <div class="content-main">
              <div class="content-content">
                <div class="panel panel-info">
                    <div class="panel-heading">标准最新公告 <!-- <div class="more"><a href="">更多</a></div> --></div>
                    <ul class="list-group">
                      {foreach $bznLst as $v}
                          <li class="list-group-item">{$v['addtime']|date="y-m-d",###}&nbsp;&nbsp;<a href="{:url('Index/bzDetail','itemid='.$v['itemid'])}">{$v['title']}</a>&nbsp;<img class="myimg" src="__ASSETS__images/state-{$v['validity']}.png" alt=""></li>
                      {/foreach}
                    </ul>
                    <div class="panel-footer text-right"><a href="">更多</a></div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">法规最新公告 <!-- <div class="more"><a href="">更多</a></div> --></div>
                    <ul class="list-group">
                      {foreach $fgnLst as $v}
                          <li class="list-group-item">{$v['addtime']|date="y-m-d",###}&nbsp;&nbsp;<a href="{:url('Index/bzDetail','itemid='.$v['itemid'])}">{$v['title']}</a>&nbsp;<img class="myimg" src="__ASSETS__images/state-{$v['validity']}.png" alt=""></li>
                      {/foreach}
                    </ul>
                    <div class="panel-footer text-right"><a href="">更多</a></div>
                </div>
              </div>
              <div class="content-content">
                <div class="panel panel-info">
                  <div class="panel-heading">最新添加标准<!--  <div class="more"><a href="">更多</a></div> --></div>
                  <table class="table table-hover table-striped">
                    <tr>
                      <th width=40%>标题</th>
                      <th width=20%>文号</th>
                      <th class="infohide" width=20%>类别</th>
                      <th class="infohide" width=10%>发布日期</th>
                      <th class="infohide" width=10%>实施日期</th>
                    </tr>
                    {foreach $bzNearLst as $v}
                    <tr>
                      <td><a href="">{$v["title"]}</a>&nbsp;<img class="myimg" src="__ASSETS__images/state-{$v['validity']}.png" alt=""></td>
                      <td>{$v['st_no']}</td>
                      <td class="infohide"><a href="">{$v["catid_name"]}</a></td>
                      <td class="infohide">2016-11-24</td>
                      <td class="infohide">2016-11-22</td>
                    </tr>
                    {/foreach}
                  </table> 
                  <div class="panel-footer text-right"><a href="">更多</a></div>
                </div>
              </div>
              <!-- 内容结束 -->
               <!-- 内容开始 -->
              <div class="content-content">
                <div class="panel panel-info">
                  <div class="panel-heading">最新添加法规 <!-- <div class="more"><a href="">更多</a></div> --></div>
                  <table class="table table-hover table-striped">
                    <tr>
                      <th width=40%>标题</th>
                      <th width=20%>文号</th>
                      <th class="infohide" width=20%>类别</th>
                      <th class="infohide" width=10%>发布日期</th>
                      <th class="infohide" width=10%>实施日期</th>
                    </tr>
                    {foreach $fgNearLst as $v}
                    <tr>
                      <td><a href="">{$v["title"]}</a>&nbsp;<img class="myimg" src="__ASSETS__images/state-{$v['validity']}.png" alt=""></td>
                      <td>{$v['st_no']}</td>
                      <td class="infohide"><a href="">{$v["catid_name"]}</a></td>
                      <td class="infohide">2016-11-24</td>
                      <td class="infohide">2016-11-22</td>
                    </tr>
                    {/foreach}
                  </table> 
                  <div class="panel-footer text-right"><a href="">更多</a></div>
                </div>
              </div>
            </div>
          
      
      