 <!-- 右侧导航栏开始 -->
<div class="col-md-3">
  <div class="content-menu">
    <div class="widget">
      <h4 class="title">法律法规分类</h4>
      <ul class="list-group">
        <li class="list-group-item active">
          <div class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">国家法律<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">下拉菜单项</a></li>
                <li class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">下拉菜单项</a></li>
                <li class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">下拉菜单项</a></li>
                <li class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">下拉菜单项</a></li>
            </ul>
          </div>
           
        </li>
        <li class="list-group-item">行政法规</li>
        <li class="list-group-item">法规草案</li>
        <li class="list-group-item">政府内部文件</li>
        <li class="list-group-item">部委规章</li>
        <li class="list-group-item">港澳台地区</li>
        <li class="list-group-item">国外法规</li>
        <li class="list-group-item">地方法规</li>
        <li class="list-group-item">其他相关法规</li>
      </ul>
    </div>
    <!-- 法律法规导航结束 -->
    <div class="widget">
      <h4 class="title">标准分类</h4>
      <ul class="list-group">
        <li class="list-group-item active">
          产品标准
        </li>
        <li class="list-group-item"> 畜牧养殖标准</li>
        <li class="list-group-item">原料标准</li>
        <li class="list-group-item">质量控制标准</li>
        <li class="list-group-item">食品添加剂标准</li>
        <li class="list-group-item">包装物料标准</li>
        <li class="list-group-item">检验方法标准</li>
        <li class="list-group-item">标签标识标准</li>
        <li class="list-group-item">征求意见稿</li>
        <li class="list-group-item">国外标准</li>
        <li class="list-group-item">其他标准</li>
      </ul>
    </div>
    <!-- 标准分类导航结束 -->
    <div class="widget">
      <h4 class="title">标签云</h4>
      <a href="" class="btn btn-default ">粮食及其制品</a>
      <a href="" class="btn btn-default ">调味品</a>
      <a href="" class="btn btn-default ">乳及乳制品</a>
      <a href="" class="btn btn-default ">饮料</a>
      <a href="" class="btn btn-default ">方便食品</a>
      <a href="" class="btn btn-default ">罐头</a>
      <a href="" class="btn btn-default ">冷冻饮品</a>
      <a href="" class="btn btn-default ">速冻食品</a>
      <a href="" class="btn btn-default ">粮食及其制品</a>
      <a href="" class="btn btn-default ">调味品</a>
      <a href="" class="btn btn-default ">乳及乳制品</a>
      <a href="" class="btn btn-default ">饮料</a>
      <a href="" class="btn btn-default ">方便食品</a>
      <a href="" class="btn btn-default ">罐头</a>
      <a href="" class="btn btn-default ">罐头</a>
      <a href="" class="btn btn-default ">冷冻饮品</a>
    </div>
  </div>
</div>
<!-- 右侧导航结束 -->